.signup{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.signup > img{
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
}

.signup > input{
    background-color: #ffffff24;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 20px;
    color: white;
}

.signup input:focus{
    outline: 1px solid gray;
}

.signup > button{
    border-radius: 8px;
    padding: 12px;
    border: none;
    color: white;
    background-color: #0095f6;
    font-weight: bold;
}

.signup button:hover{
    cursor: pointer;
}