.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sidenav__logo {
  width: 120px;
  margin: 25px;
}

.sidenav__buttons {
  display: flex;
  flex-direction: column;
}

.sidenav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: none;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.sidenav__button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.128);
}

.sidenav__button span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bolder;
}

.sidenav__more {
  position: fixed;
  bottom: 3px;
}

.logout__button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.211);
  padding: 10px;
  border: none;
  margin-left: 10px;
}
.logout__button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.424);
}

@media (max-width: 1263px) {
  .sidenav__logo {
    width: 80px;
    margin: 10px;
  }
  .sidenav {
    width: 100px;
  }
  .sidenav__more {
    width: 110px;
    font-size: 16px;
  }
  .sidenav__button {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bolder;
  }
}

@media (max-width: 1159px) {
  .sidenav__logo {
    width: 60px;
    padding: 10px 15px 10px 15px;
  }
  .sidenav {
    width: 100px;
  }
  .sidenav__more {
    width: 110px;
    padding: 0;
    margin: 0;
  }
  .sidenav__button {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bolder;
  }
}

@media (max-width: 1120px) {
  .sidenav__logo {
    width: 40px;
    padding: 10px 15px 10px 15px;
  }
}

@media (max-width: 800px) {
  .sidenav__logo {
    width: 40px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
  }
}




