.gallerypage {
  display: flex;
  flex-direction: row;
}

.gallery__nav {
  flex: 20%;
  height: 100vh;
}

.gallery__view {
  flex: 80%;
  border-left: 1px solid gray;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
}

.gallery {
  column-count: 3;
  /* column-width: 33%; */
  padding: 0 12px;
}

.gallery .images {
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.gallery .images:hover {
  opacity: 0.8;
}

.gallery .images img{
  width: 100%;
}

@media (max-width: 991px) {
  .gallery {
    column-count: 2;
    /* column-width: 50%; */
    padding: 0 12px;
  }
}

@media (max-width: 480px) {
  .gallery {
    column-count: 1;
    /* column-width: 100%; */
    padding: 0 12px;
  }
}

@media (max-width: 1263px) {
  .gallery__nav {
    flex: 0.1;
  }
  .gallery__view {
    flex: 0.9;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 1159px) {
  .gallery__nav {
    flex: 0.1;
  }
  .gallery__view {
    flex: 0.9;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Model */

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 1;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}

/* SPINNER */
.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem 0;
}

.container-loading > span {
  font-size: 1.2rem;
}

.spinner {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  animation: spin8932 0.5s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: #212121;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin8932 {
  to {
    transform: rotate(360deg);
  }
}
