.timeline {
  display: flex;
  flex-direction: row;
}
.timeline__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}

.timeline__right {
  flex: 0.3;
}

/* Relacja */
.timeline__story {
  margin-top: 25px;
}
.story__item {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 15px 0 15px;
  border: double 5px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, green, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
